<div class="container">
    <div class="row mb-5">
        <div class="col-md-12 text-center text-light pt-5">
            <h1>Teams</h1>
            <small><small>{{ user.tag }}</small></small>
        </div>
    </div>

    {{# if hasInvites }}
        <div class="row">
            <div class="col">
                <label class="text-light pt-4 mb-auto">Invites</label>
                <div class="col">
                    <div id="invites" class="text-light row">
                        {{# each invites }}
                            <div class="col-sm-auto mt-2 mb-5">
                                <div class="card text-light {{# if ../user.can_join_teams }}bg-dark {{/ if }}mb-3" style="max-width: 18rem;cursor: pointer;{{# unless ../user.can_join_teams }}background: #f14d5a;{{/ unless }}"{{# unless ../user.can_join_teams }} data-toggle="tooltip" title="Not enough team slots"{{/ unless }}>
                                    <div class="card-header d-flex justify-content-between align-items-center text-nowrap">
                                        {{ this.team }}
                                        <i class="ml-2 mr-2 fa-solid fa-arrow-right"></i>
                                        <small><b><span class="ml-1 mr-1 px-2 text-light" style="background: var(--mdb-red);border-radius: 5px">{{ this.permission }}</span></b></small>
                                        <div class="btn-group ml-3" role="group" aria-label="Actions">
                                            {{# if ../user.can_join_teams }}
                                                <a href="/dashboard/teams/@/{{ this.team }}/invites/accept">
                                                    <button class="btn btn-sm btn-success ml-1" data-toggle="tooltip" title="Accept"><i class="fa-solid fa-ok-sign"></i></button>
                                                </a>
                                            {{/ if }}
                                            <a href="/dashboard/teams/@/{{ this.team }}/invites/decline">
                                                <button class="btn btn-sm btn-danger ml-1" data-toggle="tooltip" title="Decline"><i class="fa-solid fa-remove-sign"></i></button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    {{/ if }}

    <div class="row">
        <div class="col">
            <label class="text-light pt-4 mb-auto">Your Teams</label>
            <div class="col">
                <div id="own_teams" class="text-light row">
                    {{# unless isClient }}
                        <div class="row">
                            <div class="col">
                                <div class="col">
                                    <label class="pt-4" style="color: crimson">Not a client.</label>
                                </div>
                            </div>
                        </div>
                    {{ else }}
                        {{# each own_teams }}
                            <div class="col-sm-auto mt-2" onclick="location.href='/dashboard/teams/@/{{ this.name }}';" style="cursor: pointer;">
                                <div class="card text-light {{# unless this.locked }}bg-dark {{/ unless }}mb-3" style="max-width: 18rem; {{# if this.locked }}background: #f14d5a{{/ if }}"{{# if this.locked }} data-toggle="tooltip" title="Premium needed"{{/ if }}>
                                    <div class="card-header d-flex justify-content-between align-items-center text-nowrap">
                                        {{ this.name }}
                                        <div class="btn-group ml-3" role="group" aria-label="Actions">
                                            <a href="/dashboard/teams/@/{{ this.name }}/delete"><button class="btn btn-sm btn-danger " data-toggle="tooltip" title="Delete"><i class="fa-solid fa-trash"></i></button></a>
                                        </div>
                                    </div>
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-title text-nowrap"><small><small>Created by <u>{{# unless this.creator }}Unknown{{ else }}{{ this.creator }}{{/ unless }}</u></small></small></p>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                        {{# if maxTeamsReached }}
                        {{ else }}
                            <div class="col-sm-3 mt-2">
                                <div class="card-body">
                                    <a href="/dashboard/teams/new"><button class="btn create-btn text-light"><i data-toggle="tooltip" title="New" class="fa-solid fa-plus"></i></button></a>
                                </div>
                            </div>
                        {{/ if }}
                    {{/ unless }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="text-light pt-4 mb-auto">Other teams</label>
            <div class="col">
                <div class="col">
                    <div id="granted_teams" class="text-light row">
                    {{# each granted_teams }}
                        <div class="col-sm-auto mt-2" onclick="location.href='/dashboard/teams/@/{{ this.name }}';" style="cursor: pointer;"{{# if this.locked }} data-toggle="tooltip" title="Premium needed"{{/ if }}>
                            <div class="card text-light {{# unless this.locked }}bg-dark {{/ unless }}mb-3"
                                 style="max-width: 18rem; {{# if this.locked }}background: #f14d5a{{/ if }}">
                                <div class="card-header d-flex justify-content-between align-items-center text-nowrap">
                                    {{ this.name }}
                                    <div class="btn-group ml-3" role="group" aria-label="Actions">
                                        <a href="/dashboard/teams/@/{{ this.name }}/leave"><button class="btn btn-sm btn-danger" data-toggle="tooltip" title="Leave"><i class="fa-solid fa-signout"></i></button></a>
                                    </div>
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <p class="card-title text-nowrap"><small><small>Created by <u>{{# unless this.creator }}Unknown{{ else }}{{ this.creator }}{{/ unless }}</u></small></small></p>
                                </div>
                            </div>
                        </div>
                    {{ else }}
                        <label class="pt-3" style="color: crimson">No teams.</label>
                    {{/ each }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>