<!DOCTYPE html>
<html lang="en">
<head>
    <noscript>Please enable Javascript.</noscript>
	<title>{{#if title_prefix}}{{title_prefix}} - {{/if}}{{#if title}}{{title}}{{else}}Cosmetic-X{{/if}}</title>

    <meta name="og:type" content="website">
    <meta name="og:title" content="Cosmetic-X">
    <meta name="og:url" content="https://cosmetic-x.de/">
    <meta name="og:description" content="Another cosmetic provider for Minecraft: Bedrock Edition">
    <meta name="og:color" content="#7a34eb">
    <meta name="og:image" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

	<link rel="stylesheet" href="/public/stylesheets/loading-spinner.css">
	<link rel="stylesheet" href="/public/stylesheets/modern-bootstrap.css" />
    <script src="https://kit.fontawesome.com/46bbed35a4.js" crossorigin="anonymous"></script>
    <!--link rel="stylesheet" href='/public/stylesheets/font-awesome.css'/-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <link rel="stylesheet" href='/public/stylesheets/style.css'/>
    <link rel="stylesheet" href='//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css'/>

    <script src="/public/javascripts/jquery/jquery.js"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>


    <style>
        body {
            overflow: hidden; /* Hide scrollbars */
        }
        .center {
            height: 100%;
            padding: 0;
            margin: 0;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .adblock-wrapper {
            background: rgba(0, 0, 0, 0.6);
            width: 100vw;
            height: 100vh;
            position: fixed;
            z-index: 99;
        }
        .adblock-content-wrapper {
            box-shadow: 24px 24px 48px rgba(0, 0, 0, 0.4);
            border-radius: 10px;
            max-width: 400px;
            background: #fff;
            height: auto;
            width: 100%;
        }
        .adblock-content {
            padding: 30px 50px;
        }
        .image-container {
            width: 100px;
            text-align: center;
            margin-bottom: -20px;
        }
        .image-container .image h3 {
            font-size: 30px;
            font-weight: 700;
            background: transparent;
            border: 4px dotted rgba(250, 49, 35, 1);
            border-radius: 50%;
            text-align: center;
            color: rgba(250, 49, 35, 1);
            padding: 27px 0px;
            font-family: inherit;
        }
        .adblock-text,
        .adblock-text h3 {
            text-align: center;
            font-family: inherit;
            font-weight: 700;
        }
        .adblock-text h3 {
            font-size: 30px;
        }
        .adblock-text p {
            margin: 20px auto;
            font-weight: 500;
        }
        .adblock-button .btn {
            line-height: 1em;
            border-radius: 30px;
            border: none;
            padding: 15px 20px;
            width: 100%;
            background: #fa3123;
            color: #fff;
            transition: 0.2s;
            border: 2px solid #fa3123;
        }
        .adblock-button .btn:hover {
            background: #fff;
            color: #fa3123;
            border: 2px solid #fa3123;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<!--div class='adblock-wrapper center hidden' id='ads-blocked'>
	<div class='adblock-content-wrapper'>
		<div class='adblock-content'>
			<div class='center'>
				<div class='image-container'>
					<div class='image'>
						<h3>Ads</h3>
					</div>
				</div>
			</div>
			<div class='pt-4 adblock-text'>
				<h3>{{lang.pleaseDisableYourAdblocker1}}</h3>
				<p>{{lang.pleaseDisableYourAdblocker2}}</p>
			</div>
			<div class='adblock-button'>
				<a href="/"><button class='btn'>{{lang.iveDisabledMyAdblocker}}</button></a>
			</div>
		</div>
	</div>
</div-->
<div class="loading-spinner"></div>
<script>
	window.addEventListener("load", (ev) => {
		console.log("loaded");
		const loadingSpinner = document.getElementsByClassName("loading-spinner")[0];
		loadingSpinner.classList.add("loading-spinner-hidden");
		loadingSpinner.addEventListener("transitionend", () => loadingSpinner.remove());
	});
</script>

<div class="page">
    {{# showNavBar }}
        <nav class="navbar navbar-light navbar-expand-md text-light bg-dark" id="main-nav-bar">
            <div class="container-fluid">
                <a class="navbar-brand text-light bg-dark" href="/dashboard">{{lang.dashboard}}</a>
                <button data-mdb-toggle="collapse" class="navbar-toggler text-light bg-dark" data-target="#navcol-1">
                    <span class="sr-only">forgot</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-light bg-dark" id="navcol-1">
                    <ul class="navbar-nav text-light bg-dark" id="nav-bar-elements">
						{{# if isAdmin }}<li class="nav-item text-light bg-dark"><a class="nav-link text-light bg-dark" href="/dashboard/admin">{{lang.adminPanel}}</a></li>{{/ if }}
						{{# unless discord_user }}<li class="nav-item text-light bg-dark"><a class="nav-link text-light bg-dark" target="_blank" href="https://discord.cosmetic-x.de/">{{lang.discord}}</a></li>{{/unless}}
                        <li class="nav-item text-light bg-dark"><a class="nav-link text-light bg-dark" href="/clients">{{lang.clients}}</a></li>
						<li class="nav-item text-light bg-dark"><a class="nav-link text-light bg-dark" href="/dashboard/teams">{{lang.teams}}</a></li>

						{{# unless isVerified }}<li class="nav-item text-light bg-dark"><a class="nav-link text-light bg-dark" href="minecraft://?addExternalServer=cosmetic-x.de:19132|§dCosmetic-X §8- §eVerification"><span style="color: gold">{{lang.verify}}</span></a></li>{{/ unless }}

						{{# if isClient }}
							{{# unless isPremium }}
								<a href="https://ko-fi.com/cosmeticx/tiers" class="mr-2">
									<button class="btn text-light" style="background: #f14d5a;" type="button">{{lang.getPremium}}</button>
								</a>
							{{/unless}}
						{{/ if }}
                    </ul>
                </div>
				<div class="dropdown">
					<button class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="profile-dropdown" data-mdb-toggle="dropdown" aria-expanded="false" style="background: transparent !important; border-color: transparent !important;">
						<img src="{{ discord_user.avatar }}" alt="Avatar" class="rounded-circle me-2 border border-2" width="32" height="32" style="border-color: {{ discord_user.banner_color }} !important;">
						<strong class="badge" style="background: {{ discord_user.banner_color }}">{{ discord_user.tag }}</strong>
					</button>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="profile-dropdown">
						<li>
							<span class="dropdown-item" style="cursor: pointer">« {{lang.selectLanguage}}</span>
							<ul class="dropdown-menu dropdown-menu-dark dropdown-submenu dropdown-submenu-left">
								<li>
									{{# each languages }}
										<a class="dropdown-item" style="cursor: pointer" onclick="changeLanguage('{{this.langCode}}')">{{this.emoji}} {{this.name}}</a>
									{{/each}}
								</li>
							</ul>
						</li>
						<li><a class="dropdown-item" href="#"><span style="color: crimson;">{{lang.logout}}</span></a></li>
					</ul>
				</div>
            </div>
        </nav>
    {{/showNavBar}}

    {{{ body }}}

    <button type="button" class="btn btn-danger btn-floating btn-lg bottom-0 pull-right" id="btn-back-to-top" style="display: none">
        <i class="fa-solid fa-arrow-up"></i>
    </button>


    <!--footer class="fixed-bottom align-bottom bg-dark text-center text-white text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Copyright © <a class="text-light" href="https://github.com/xxAROX">xxAROX</a>, alright
        </div>
    </footer-->
</div>

<script src="/public/javascripts/popper.js"></script>
<script src="/public/javascripts/modern-bootstrap.js"></script>
<script src="/public/javascripts/toastr.js"></script>
<script>
    $(() => {
		/*if (location.search.substring(1) !== "") {
            let params = new URLSearchParams(location.search.substring(1));
            console.log(location.search.substring(1));
            if (!params.get("error")) {
            } else {
                params.get("error").split(",").forEach(message => toastr.error("Error", params.get("error")));
            }
        }*/
    });
</script>
<script>
	function changeLanguage(newLangCode) {
		let xhr = new XMLHttpRequest();
		xhr.open("POST", "/dashboard/selectLanguage");

		xhr.send(newLangCode);

		xhr.onreadystatechange = function () {
			if (xhr.readyState === 4) {
				location.reload();
			}
		};
		xhr.send();
		ajax({
			url: "/dashboard/selectLanguage",
			type: "POST",
			data: {
				langCode: newLangCode,

			},
			success: function(data) {
				location.reload();
			}
		});
	}
    $(function() {
        let back_to_top_button = document.getElementById("btn-back-to-top");
        window.onscroll = () => {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                back_to_top_button.style.display = "block";
            } else {
                back_to_top_button.style.display = "none";
            }
        };
        back_to_top_button.addEventListener("click", () => {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        });
    });
</script>
</body>
</html>
