<body class="text-light bg-dark">
<div id="cosmetic-client-section" class="container align-items-center">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Clients</h1>
        </div>
    </div>
    <div class="row mt-5">
        {{# each clients }}
            <div class="col-sm">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title" style="color: rgb(69,71,74);">{{ @key }}</h4>
                        {{# each this }}
                            <a class="card-link" target="_blank" href="/api/download/{{ @../key }}/{{ this }}">
                                <button class="btn btn-primary" type="button">Download {{ this }}</button>
                            </a>
                        {{ else }}
                            <p class="card-link" style="color: crimson">No releases found.</p>
                        {{/ each }}
                    </div>
                </div>
            </div>
        {{ else }}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title" style="color: rgb(69,71,74);">No clients found</h4>
                    </div>
                </div>
            </div>
        {{/ each }}
    </div>
</div>